@import '~@angular/material/theming';

@mixin navtabs-component-theme($newlooks) {

  $primary: map-get($newlooks, primary);
  $accent: map-get($newlooks, accent);

  // Put all your theming styles here
  .navtabs-container {
    background-color: mat-color($newlooks-primary, 500);
  }
}