<div class="breadcrumb-area mb-50">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="breadcrumb-container">
                  <ul>
                      <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                      <li class="active">Cart</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

<app-message></app-message>
    <h3 *ngIf="!cartItems.length" class="display-2 text-center mt-5">Cart is Empty please shop</h3>
    <div *ngIf="cartItems.length" class="page-section section mb-50">
      <div class="container">
          <div class="row" >
              <div class="col-12">
                  <form action="#">				
                      <!--=======  cart table  =======-->
                      
                      <div class="cart-table table-responsive mb-40">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th class="pro-thumbnail">Image</th>
                                      <th class="pro-title">Product</th>
                                      <th class="pro-price">Price</th>
                                      <th class="pro-quantity">Quantity</th>
                                      <!-- <th class="pro-subtotal">Total</th> -->
                                      <th class="pro-remove">Remove</th>
                                  </tr>
                              </thead>
                              <tbody *ngFor="let item of cartItems; let i=index; trackBy: trackByCartItems;">
                                  <tr>
                                      <td class="pro-thumbnail"><a href="#"><img src="{{serverPath}}/img/products/{{item.imageCover}}" class="img-fluid" alt="Product"></a></td>
                                      <td class="pro-title"><a href="#">{{item.name}}</a></td>
                                      <td class="pro-price"><span>Ksh{{item.priceDiscount}}</span></td>
                                      <td class="pro-quantity"><div class="pro-qty"><input type="number"  min="1" max="99"name="quantities" [(ngModel)]="quantities[i]"></div></td> 
                                      <!-- <td class="pro-subtotal"><span>Ksh{{item.discountedPrice}}</span></td> -->
                                      <td class="pro-remove"><a (click)="removeProduct(i, item)"><i class="fa fa-trash-o"></i></a></td>
                                  </tr>
                              
                                
                                 
                              </tbody>
                          </table>
                      </div>
                      
                 
                      
                  </form>	
                      
                  <div class="row">
  
                      <div class="col-lg-6 col-12">
                          <!--=======  Calculate Shipping  =======-->

                      </div>
  
                     
                      <div class="col-lg-6 col-12 d-flex">
                          <!--=======  Cart summery  =======-->
                      
                          <div class="cart-summary">
                              <div class="cart-summary-wrap">
                                  <h4>Cart Summary</h4>
                                  <p>Sub Total <span>Ksh {{cartTotal}}</span></p>
                                  <!-- <p>Shipping Cost <span>Ksh00.00</span></p> -->
                                  <h2>Grand Total <span>Ksh {{cartTotal }}</span></h2>
                              </div>
                              <div *ngIf="cartItems.length" class="cart-summary-button">
                                  <button class="checkout-btn" (click)="saveOrder()">Checkout</button>
                                  <!-- <button class="update-btn" (click)="updateTotal()">Update Cart</button> -->
                              </div>
                          </div>
                      
                          <!--=======  End of Cart summery  =======-->
                          
                      </div>
  
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
  
  <!--=====  End of Cart page content  ======-->


<!--=============================================
=            Footer         =
=============================================-->

<footer>
  <!--=======  newsletter section  =======-->
  
  <div class="newsletter-section pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-20 mb-xs-20">
          <!--=======  newsletter title =======-->
          
          <div class="newsletter-title">
            <h1>
              <img src="assets/images/icon-newsletter.png" alt="">
              Send Newsletter
            </h1>
          </div>
          
          <!--=======  End of newsletter title  =======-->
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12">
          <!--=======  subscription-form wrapper  =======-->
          
          <div class="subscription-form-wrapper d-flex flex-wrap flex-sm-nowrap">
            <p class="mb-xs-20">Get alerts on new Bales arrivals</p>
            <div class="subscription-form">
              <form  id="mc-form" class="mc-form subscribe-form">
                <input type="email" id="mc-email" autocomplete="off" placeholder="Your email address">
                <button id="mc-submit" type="submit"> subscribe!</button>
              </form>

              <!-- mailchimp-alerts Start -->
              <div class="mailchimp-alerts">
                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
              </div><!-- mailchimp-alerts end -->
            </div>
          </div>
          
          <!--=======  End of subscription-form wrapper  =======-->
        </div>
      </div>
    </div>
  </div>
  
  <!--=======  End of newsletter section  =======-->

  <!--=======  social contact section  =======-->
  
  <div class="social-contact-section pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 order-2 order-md-2 order-sm-2 order-lg-1">
          <!--=======  social media links  =======-->
          
          <div class="social-media-section">
            <h2>Follow us</h2>
            <div class="social-links">
              <a class="facebook" href="http://www.facebook.com/" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
              <a class="twitter" href="http://www.twitter.com/" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
              <a class="instagram" href="http://www.instagram.com/" data-tooltip="Instagram"><i class="fa fa-instagram"></i></a>
          
            </div>
          </div>
          
          <!--=======  End of social media links  =======-->
          
        </div>
        <div class="col-lg-8 col-md-12 order-1 order-md-1 order-sm-1 order-lg-2  mb-sm-50 mb-xs-50">
          <!--=======  contact summery  =======-->
          
          <div class="contact-summery">
            <h2>Contact us</h2>

            <!--=======  contact segments  =======-->
            
            <div class="contact-segments d-flex justify-content-between flex-wrap flex-lg-nowrap"> 
              <!--=======  single contact  =======-->
            
              <div class="single-contact d-flex mb-xs-20">
                <div class="icon">
                  <span class="icon_pin_alt"></span>
                </div>
                <div class="contact-info">
                  <p>Address: <span>Roysambu,Thika Road,Nairobi</span></p>
                </div>
              </div>
              
              <!--=======  End of single contact  =======-->
              <!--=======  single contact  =======-->
            
              <div class="single-contact d-flex mb-xs-20">
                <div class="icon">
                  <span class="icon_mobile"></span>
                </div>
                <div class="contact-info">
                  <p>Phone: <span>+254-713-093-910</span></p>
                </div>
              </div>
              
              <!--=======  End of single contact  =======-->
              <!--=======  single contact  =======-->
            
              <div class="single-contact d-flex">
                <div class="icon">
                  <span class="icon_mail_alt"></span>
                </div>
                <div class="contact-info">
                  <p>Email: <span>info@newlooksmtaani.com</span></p>
                </div>
              </div>
              
              <!--=======  End of single contact  =======-->
            </div>
            
            <!--=======  End of contact segments  =======-->

            
            
          </div>
          
          <!--=======  End of contact summery  =======-->
          
        </div>
      </div>
    </div>
  </div>
  
  <!--=======  End of social contact section  =======-->

  <!--=======  footer navigation  =======-->
  
  <!--=======  End of footer navigation  =======-->


  <!--=======  copyright section  =======-->
  
  <div class="copyright-section pt-35 pb-35">
    <div class="container">
      <div class="row align-items-md-center align-items-sm-center">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center text-md-left">
          <!--=======  copyright text	  =======-->
          
          <div class="copyright-segment">
            <p>
              <a href="#">Privacy Policy</a>
              <span class="separator">|</span>
              <a href="#">Term and conditions</a>
            </p>
            <p class="copyright-text">&copy; 2019 <a href="#">NewLookMtaani</a>. All Rights Reserved</p>
          </div>
          
          <!--=======  End of copyright text	  =======-->
          
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
          <!--=======  payment info  =======-->
          
          <div class="payment-info text-center text-md-right">
            <p>Allow payment base on <img src="assets/images/payment-icon.png" class="img-fluid" alt=""></p>
          </div>
          
          <!--=======  End of payment info  =======-->
          
        </div>
      </div>
    </div>
  </div>
  
  <!--=======  End of copyright section  =======-->
</footer>