<div class="hero-slider-with-category-container mt-35 mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<!--=======  slider left category  =======-->
					
					<div class="hero-side-category">
						<!-- Category Toggle Wrap -->
						<div class="category-toggle-wrap">
						
							<!-- Category Toggle -->
							<button class="category-toggle"> <span class="arrow_carrot-right_alt2 mr-2"></span> All Categories</button>
						</div>

						<!-- Category Menu -->
						<nav class="category-menu">
							<ul>
							
								<li><a  routerLink="/shop">Shoes Bales</a></li>
								<li><a  routerLink="/shop">Tops Bales</a></li>
								<li><a  routerLink="/shop">Skirts Bales</a></li>
								<li><a  routerLink="/shop">Dresses Bales</a></li>
								<li><a  routerLink="/shop">Jackets Bales</a></li>
								<li><a  routerLink="/shop">Denims Bales</a></li>
								<li><a  routerLink="/shop">Shiphones Bales</a></li>
							
							</ul>
						</nav>
					</div>
					
					<!--=======  End of slider left category  =======-->
				</div>

				<div class="col-lg-9 col-md-12">
					<!--=======  slider container  =======-->
					
					<div class="slider-container">
                        <!--=======  Slider area  =======-->
                            
                        <div class="hero-slider-two">
                            <!--=======  hero slider item  =======-->
                                 
                            <div class="hero-slider-item slider-bg-3" >
                                <div class="slider-content">
                                    <h1>Tops<span>Camera Bales</span></h1>
                                    <!-- <h1 class="change-text">Up to <span>20% off</span></h1>   -->
									<h1 class="change-text">Over <span>200 pieces</span></h1>  
                                    
                                    <p><img src="assets/images/icon-slider.png" alt=""> <span>save up to 20%</span></p>
                                    <p><img src="assets/images/icon-slider.png" alt=""> <span>free cbd delivery</span></p>
                                    <!-- <p><img src="assets/images/icon-slider.png" alt=""> <span>return in 24 hours</span></p> -->

                                    <a routerLink="/shop" class="slider-two-btn mt-20">start at Ksh15,000</a>
                                </div>
                            </div>
                            
                            <!--=======  End of hero slider item  =======-->


                            <!--=======  Hero slider item  =======-->
                            
                            <div class="hero-slider-item slider-bg-4">
                                <div class="slider-content">
                                    <h1>Shoes<span>Bales</span></h1>
                                    <h1 class="change-text">Over <span>300 pcs</span></h1>  
                                    
                                    <p><img src="assets/images/icon-slider.png" alt=""> <span>save up to 30%</span></p>
                                    <p><img src="assets/images/icon-slider.png" alt=""> <span>free Cbd delivery</span></p>
                  
                                    <a routerLink="/shop"class="slider-two-btn mt-20">start at Ksh15,000</a>
                                </div>
                            </div>
                            
                            <!--=======  End of Hero slider item  =======-->
                            
                        </div>
                        
                        <!--=======  End of Slider area  =======-->
					</div>
					
					<!--=======  End of slider container  =======-->
				</div>
			</div>
		</div>
	</div>
	
	
    <!--=====  End of Hero slider with category   ======-->

    
	<!--=============================================
	=            category slider         =
	=============================================-->
	
	<div class="slider category-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  category slider section title  =======-->
					
					<div class="section-title">
						<h3>top categories</h3>
					</div>
					
					<!--=======  End of category slider section title  =======-->
					
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  category container  =======-->
					
					<div class="category-slider-container">

						<!--=======  single category  =======-->
						
						<div class="single-category">
							<div class="category-image">
								<a routerLink="/shop" title="Shoes">
									<img src="assets/images/categories/category1.png" class="img-fluid" alt="">
								</a>
							</div>
							<div class="category-title">
								<h3>
									<a routerLink="/shop">Mtumba Denims</a>
								</h3>
							</div>
						</div>
						
						<!--=======  End of single category  =======-->

						<!--=======  single category  =======-->
						
						<div class="single-category">
							<div class="category-image">
								<a routerLink="/shop" title="Mtumba Sandals">
									<img src="assets/images/categories/category2.png" class="img-fluid" alt="">
								</a>
							</div>
							<div class="category-title">
								<h3>
									<a routerLink="/shop">Mtumba Sandals</a>
								</h3>
							</div>
						</div>
						
						<!--=======  End of single category  =======-->
					
						<!--=======  single category  =======-->

						<div class="single-category">
							<div class="category-image">
								<a routerLink="/shop" title="Mtumba Snickers">
									<img src="assets/images/categories/category3.png" class="img-fluid" alt="">
								</a>
							</div>
							<div class="category-title">
								<h3>
									<a routerLink="/shop">Mtumba Snickers</a>
								</h3>
							</div>
						</div>						
						
						<!--=======  End of single category  =======-->
					
						<!--=======  single category  =======-->
						
						<div class="single-category">
							<div class="category-image">
								<a routerLink="/shop" title="Mtumba Sports">
									<img src="assets/images/categories/category4.png" class="img-fluid" alt="">
								</a>
							</div>
							<div class="category-title">
								<h3>
									<a routerLink="/shop">Mtumba Sports</a>
								</h3>
							</div>
						</div>
						
						<!--=======  End of single category  =======-->
					
						<!--=======  single category  =======-->
						
						<div class="single-category">
							<div class="category-image">
								<a routerLink="/shop" title="Mtumba Kids Wear">
									<img src="assets/images/categories/category5.png" class="img-fluid" alt="">
								</a>
							</div>
							<div class="category-title">
								<h3>
									<a routerLink="/shop"> Mtumba Kids Wear</a>
								</h3>
							</div>
						</div>
						
						<!--=======  End of single category  =======-->
					
						<!--=======  single category  =======-->
						
						
						<div class="single-category">
							<div class="category-image">
								<a routerLink="/shop" title="Mtumba Shirts">
									<img src="assets/images/categories/category6.png" class="img-fluid" alt="">
								</a>
							</div>
							<div class="category-title">
								<h3>
									<a routerLink="/shop"> Mtumba Shirts</a>
								</h3>
							</div>
						</div>
						
						<!--=======  End of single category  =======-->
					
						<!--=======  single category  =======-->
						
						<div class="single-category">
							<div class="category-image">
								<a routerLink="/shop" title="Mtumba Tops">
									<img src="assets/images/categories/category7.png" class="img-fluid" alt="">
								</a>
							</div>
							<div class="category-title">
								<h3>
									<a routerLink="/shop">Mtumba Tops</a>
								</h3>
							</div>
						</div>
						
						<!--=======  End of single category  =======-->
						
					</div>
					
					<!--=======  End of category container  =======-->

				</div>
			</div>
		</div>
	</div>
	
    <!--=====  End of category slider  ======-->


    <!--=============================================
	=            Multi sale slider         =
	=============================================-->
	
	<div class="slider multisale-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multisale  slider section title  =======-->
					
					<div class="section-title">
						<h3>Monthly Bale Deals</h3>
					</div>
					
					<!--=======  End of multisale slider section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multi sale slider wrapper  =======-->
					
					<div class="multisale-slider-wrapper">
						<!--=======  single multisale slider product  =======-->
						
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a routerLink="/shop">
									<span class="onsale">Available!</span>
									<img src="assets/images/products/product01.jpg" class="img-fluid" alt="">
								</a>
								<div class="product-hover-icons">
									<a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
								
								</div>
							</div>
							<!-- <div class="product-countdown" data-countdown="2021/05/01"></div> -->
							<div class="product-content">
								<div class="product-categories">
									<!-- <a routerLink="/shop">Clothes</a>, -->
									<a routerLink="/shop">Mixed Casual Shoes</a>
								</div>
								<h3 class="product-title"><a routerLink="/shop">Original ex-uk 200pc</a></h3>
								<div class="price-box">
									<span class="main-price">Ksh40000.00</span>
									<span class="discounted-price">Ksh35000.00</span>
								</div>
							</div>
							
						</div>
						
						<!--=======  End of single multisale slider product  =======-->
						<!--=======  single multisale slider product  =======-->
						
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a routerLink="/shop">
									<span class="onsale">Available!</span>
									<img src="assets/images/products/product02.jpeg" class="img-fluid" alt="">
								</a>
								<div class="product-hover-icons">
									<a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
								
								
								</div>
							</div>
							<!-- <div class="product-countdown" data-countdown="2020/02/01"></div> -->
							<div class="product-content">
								<div class="product-categories">
									<a routerLink="/shop">Mixed Clothes</a>,
									<!-- <a routerLink="/shop">Shoes</a> -->
								</div>
								<h3 class="product-title"><a routerLink="/shop">200pc Bale</a></h3>
								<div class="price-box">
									<span class="main-price">Ksh30000.00</span>
									<span class="discounted-price">Ksh25000.00</span>
								</div>
							</div>
							
						</div>
						
						<!--=======  End of single multisale slider product  =======-->
						<!--=======  single multisale slider product  =======-->
						
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a routerLink="/shop">
									<span class="onsale">Available!</span>
									<img src="assets/images/products/product03.jpg" class="img-fluid" alt="">
								</a>
								<div class="product-hover-icons">
									<a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
								
								
								</div>
							</div>
							<!-- <div class="product-countdown" data-countdown="2020/06/01"></div> -->
							<div class="product-content">
								<div class="product-categories">
									<a routerLink="/shop">Mixed Casual Jackets</a>,
									<!-- <a routerLink="/shop">Shoes</a> -->
								</div>
								<h3 class="product-title"><a routerLink="/shop">250pc Bale</a></h3>
								<div class="price-box">
									<span class="main-price">Ksh20000.00</span>
									<span class="discounted-price">Ksh18000.00</span>
								</div>
							</div>
							
						</div>
						
						<!--=======  End of single multisale slider product  =======-->
						<!--=======  single multisale slider product  =======-->
						
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a routerLink="/shop">
									<span class="onsale">Available!</span>
									<img src="assets/images/products/product04.jpg" class="img-fluid" alt="">
								</a>
								<div class="product-hover-icons">
									<a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
								
								
								</div>
							</div>
							<!-- <div class="product-countdown" data-countdown="2020/05/21"></div> -->
							<div class="product-content">
								<div class="product-categories">
									<a routerLink="/shop">Mixed Jeans Clothes</a>,
									<!-- <a routerLink="/shop">Shoes</a> -->
								</div>
								<h3 class="product-title"><a routerLink="/shop">Original ex-uk 200pc Bales </a></h3>
								<div class="price-box">
									<span class="main-price">Ksh30000.00</span>
									<span class="discounted-price">Ksh28000.00</span>
								</div>
							</div>
							
						</div>
						
						<!--=======  End of single multisale slider product  =======-->
						<!--=======  single multisale slider product  =======-->
						
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a routerLink="/shop">
									<span class="onsale">Available!</span>
									<img src="assets/images/products/product11.jpg" class="img-fluid" alt="">
								</a>
								<div class="product-hover-icons">
									<a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
							
								
								</div>
							</div>
							<!-- <div class="product-countdown" data-countdown="2022/01/10"></div> -->
							<div class="product-content">
								<div class="product-categories">
									<a routerLink="/shop">Skirts & Dresses</a>,
									<!-- <a routerLink="/shop">Shoes</a> -->
								</div>
								<h3 class="product-title"><a routerLink="/shop">Assorted Skirts 200pc</a></h3>
								<div class="price-box">
									<span class="main-price">Ksh35000.00</span>
									<span class="discounted-price">Ksh30000.00</span>
								</div>
							</div>
							
						</div>
						
						<!--=======  End of single multisale slider product  =======-->
					</div>
					
					<!--=======  End of multi sale slider wrapper  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of Multi sale slider  ======-->
    

	<!--=============================================
	=            Brand logo slider         =
	=============================================-->
	
	<!-- <div class="slider brand-logo-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12"> -->
					<!--=======  blog slider section title  =======-->
<!-- 					
					<div class="section-title">
						<h3>Dealers In</h3>
					</div>
					 -->
					<!--=======  End of blog slider section title  =======-->
				<!-- </div>
			</div>

			<div class="row">
				<div class="col-lg-12"> -->
					<!--=======  brand logo wrapper  =======-->
					
					<!-- <div class="brand-logo-wrapper pt-20 pb-20"> -->

						<!--=======  single-brand-logo  =======-->

						<!-- <div class="col">
							<div class="single-brand-logo">
								<a href="#">
									<img src="assets/images/brands/brand1.png" class="img-fluid" alt="">
								</a>
							</div>
						</div>
						 -->
						<!--=======  End of single-brand-logo  =======-->
						<!--=======  single-brand-logo  =======-->

						<!-- <div class="col">
							<div class="single-brand-logo">
								<a href="#">
									<img src="assets/images/brands/brand2.png" class="img-fluid" alt="">
								</a>
							</div>
						</div> -->
						
						<!--=======  End of single-brand-logo  =======-->
						<!--=======  single-brand-logo  =======-->

						<!-- <div class="col">
							<div class="single-brand-logo">
								<a href="#">
									<img src="assets/images/brands/brand3.png" class="img-fluid" alt="">
								</a>
							</div>
						</div>
						 -->
						<!--=======  End of single-brand-logo  =======-->
						<!--=======  single-brand-logo  =======-->

						<!-- <div class="col">
							<div class="single-brand-logo">
								<a href="#">
									<img src="assets/images/brands/brand4.png" class="img-fluid" alt="">
								</a>
							</div>
						</div>
						 -->
						<!--=======  End of single-brand-logo  =======-->
						<!--=======  single-brand-logo  =======-->

						<!-- <div class="col">
							<div class="single-brand-logo">
								<a href="#">
									<img src="assets/images/brands/brand5.png" class="img-fluid" alt="">
								</a>
							</div>
						</div>
						 -->
						<!--=======  End of single-brand-logo  =======-->
						<!--=======  single-brand-logo  =======-->
<!-- 
						<div class="col">
							<div class="single-brand-logo">
								<a href="#">
									<img src="assets/images/brands/brand6.png" class="img-fluid" alt="">
								</a>
							</div>
						</div>
						 -->
						<!--=======  End of single-brand-logo  =======-->
					<!-- </div>
					 -->
					<!--=======  End of brand logo wrapper  =======-->
				<!-- </div>
			</div>
		</div>
	</div>
	 -->
	<!--=====  End of Brand logo slider  ======-->

    <!--=============================================
	=            Footer         =
	=============================================-->
	
	<footer>
		<!--=======  newsletter section  =======-->
		
		<div class="newsletter-section pt-50 pb-50">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 mb-sm-20 mb-xs-20">
						<!--=======  newsletter title =======-->
						
						<div class="newsletter-title">
							<h1>
								<img src="assets/images/icon-newsletter.png" alt="">
								Send Newsletter
							</h1>
						</div>
						
						<!--=======  End of newsletter title  =======-->
					</div>

					<div class="col-lg-8 col-md-12 col-sm-12">
						<!--=======  subscription-form wrapper  =======-->
						
						<div class="subscription-form-wrapper d-flex flex-wrap flex-sm-nowrap">
							<p class="mb-xs-20">Get alerts on new Bales arrivals</p>
							<div class="subscription-form">
								<form  id="mc-form" class="mc-form subscribe-form">
									<input type="email" id="mc-email" autocomplete="off" placeholder="Your email address">
									<button id="mc-submit" type="submit"> subscribe!</button>
								</form>

								<!-- mailchimp-alerts Start -->
								<div class="mailchimp-alerts">
									<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
									<div class="mailchimp-success"></div><!-- mailchimp-success end -->
									<div class="mailchimp-error"></div><!-- mailchimp-error end -->
								</div><!-- mailchimp-alerts end -->
							</div>
						</div>
						
						<!--=======  End of subscription-form wrapper  =======-->
					</div>
				</div>
			</div>
		</div>
		
		<!--=======  End of newsletter section  =======-->

		<!--=======  social contact section  =======-->
		
		<div class="social-contact-section pt-50 pb-50">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 order-2 order-md-2 order-sm-2 order-lg-1">
						<!--=======  social media links  =======-->
						
						<div class="social-media-section">
							<h2>Follow us</h2>
							<div class="social-links">
								<a class="facebook" href="http://www.facebook.com/" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
								<a class="twitter" href="http://www.twitter.com/" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
								<a class="instagram" href="http://www.instagram.com/" data-tooltip="Instagram"><i class="fa fa-instagram"></i></a>
					
							
							</div>
						</div>
						
						<!--=======  End of social media links  =======-->
						
					</div>
					<div class="col-lg-8 col-md-12 order-1 order-md-1 order-sm-1 order-lg-2  mb-sm-50 mb-xs-50">
						<!--=======  contact summery  =======-->
						
						<div class="contact-summery">
							<h2>Contact us</h2>

							<!--=======  contact segments  =======-->
							
							<div class="contact-segments d-flex justify-content-between flex-wrap flex-lg-nowrap"> 
								<!--=======  single contact  =======-->
							
								<div class="single-contact d-flex mb-xs-20">
									<div class="icon">
										<span class="icon_pin_alt"></span>
									</div>
									<div class="contact-info">
										<p>Address: <span>Roysambu,Thika Road,Nairobi</span></p>
									</div>
								</div>
								
								<!--=======  End of single contact  =======-->
								<!--=======  single contact  =======-->
							
								<div class="single-contact d-flex mb-xs-20">
									<div class="icon">
										<span class="icon_mobile"></span>
									</div>
									<div class="contact-info">
										<p>Phone: <span>+254-713-093-910</span></p>
									</div>
								</div>
								
								<!--=======  End of single contact  =======-->
								<!--=======  single contact  =======-->
							
								<div class="single-contact d-flex">
									<div class="icon">
										<span class="icon_mail_alt"></span>
									</div>
									<div class="contact-info">
										<p>Email: <span>info@newlooksmtaani.com</span></p>
									</div>
								</div>
								
								<!--=======  End of single contact  =======-->
							</div>
							
							<!--=======  End of contact segments  =======-->

							
							
						</div>
						
						<!--=======  End of contact summery  =======-->
						
					</div>
				</div>
			</div>
		</div>
		
		<!--=======  End of social contact section  =======-->

		<!--=======  footer navigation  =======-->
		
		<!--=======  End of footer navigation  =======-->


		<!--=======  copyright section  =======-->
		
		<div class="copyright-section pt-35 pb-35">
			<div class="container">
				<div class="row align-items-md-center align-items-sm-center">
					<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center text-md-left">
						<!--=======  copyright text	  =======-->
						
						<div class="copyright-segment">
							<p>
								<a href="#">Privacy Policy</a>
								<span class="separator">|</span>
								<a href="#">Term and conditions</a>
							</p>
							<p class="copyright-text">&copy; 2019 <a href="#">NewLookMtaani</a>. All Rights Reserved</p>
						</div>
						
						<!--=======  End of copyright text	  =======-->
						
					</div>
					<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
						<!--=======  payment info  =======-->
						
						<div class="payment-info text-center text-md-right">
							<p>Allow payment base on <img src="assets/images/payment-icon.png" class="img-fluid" alt=""></p>
						</div>
						
						<!--=======  End of payment info  =======-->
						
					</div>
				</div>
			</div>
		</div>
		
		<!--=======  End of copyright section  =======-->
	</footer>
	
